|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/contacts.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            li
                span О НАС
    div.content_catalog
        h1.page_title О НАС
        div
|
    {%  endblock %}