{% extends 'index.html' %}{% block styles %}<link href="/media/css/contacts.css" rel="stylesheet" />{% endblock %}{% block scripts %}{% endblock %}{% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
{% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
{% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}{%  block content %}<div class="wr_center" id="content"><div id="breadcrumbs"><ul><li><a href="/">Главная</a></li><li class="breadcrumbs_arrow">></li><li><span>ТОРГИ/АУКЦИОНЫ</span></li></ul></div><div class="content_catalog"><h1 class="page_title">ТОРГИ/АУКЦИОНЫ</h1><div></div></div></div>{%  endblock %}
