|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/contacts.css?v=1.001"
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/contacts.js?v=1.001"
script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" 
script src="/media/js/map.js?v=1.000" type="text/javascript"
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            li
                span Контакты
    div.content_catalog
        h1.page_title Контакты
        div.contacts.clearfix
            div.contacts-informations
                div.contacts-informations__items
                    div.contacts-informations__item
                        div.contacts-informations__item-name ООО "ТДЛП"
                        div.contacts-informations__item-value ИНН 7841097096 ОГРН 1217800201739
                    div.contacts-informations__item
                        div.contacts-informations__item-name Адрес: 
                        div.contacts-informations__item-value г. Санкт-Петербург Пискаревский проспект д. 25 оф. 208
                    div.contacts-informations__item
                        div.contacts-informations__item-name Тел.: 
                        div.contacts-informations__item-value 8(812)903-77-15
                    div.contacts-informations__item
                        div.contacts-informations__item-name  Отдел продаж:
                        div.contacts-informations__item-value zakaz@lazuritprint.ru
                    div.contacts-informations__item
                        div.contacts-informations__item-name Отдел снабжения: 
                        div.contacts-informations__item-value snab@lazuritprint.ru
                    div.contacts-informations__item
                        div.contacts-informations__item-name Часы работы: 
                        div.contacts-informations__item-value с 9:30 до 17:30, пн-пт
                div#contacts-map.contacts-map style="height: 300px;"
            div.contacts-form
                 div.order_block.contacts_block-form
                    h3 Форма обратной связи
                    div.contacts_block-form
                        form.lp_form.lp_form_field-contacts
                            div.lp_form_field
                                label.lp_form-label for="id_name" Имя
                                |
                                    {{ form.name }}
                            div.lp_form_field
                                label.lp_form-label for="id_email" E-mail
                                |
                                    {{ form.email }}
                            div.lp_form_field
                                label.lp_form-label for="id_theme" Тема
                                |
                                    {{ form.theme }}
                            div.lp_form_field
                                label.lp_form-label for="id_message" Сообщение
                                |
                                    {{ form.message }}
                            div.lp_form_field.contact_form-button_send
                                button.lp_button-middle.button-contact.goal_form-contacts type="button" Отправить
|
    {%  endblock %}