|
    {% extends 'index.html' %}
    {% load common_tags %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/general_page.css?v=1.012"
style
    |
        #menu_t .menu_item_catalog_submenu {
            display: block;
        }
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/general_page.js?v=1.012"
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div.content_general#content style="{% if brand.image_background %}background: url({{ brand.image_background.url }}) no-repeat;{% endif %}"
    div.wr_center.general_banner
        |
            {% with banners=brand.get_banners %}
            {% if banners %}
        ul.general_banner-block
            |
                {% for banner in banners %}
            li
                a href="{{ banner.link }}"
                    img src="{{ banner.image.url }}" alt="{% if banner.name %}{{ banner.name }}{% else %}баннер {{ banner.id }}{% endif %}"
            |
                {% endfor %}
        |
            {% endif %}
            {% endwith %}
    div.best_products.lp_tabs
        |
            {% best_products %}
    div.line_information
        div.wr_center
            div.element__items.line_information__items.clearfix
                div.element__item.col__item4.icon_good_quality
                    |
                        Отличное<br>качество
                div.element__item.col__item4.icon_product_producer Товары от производителя
                div.element__item.col__item4.icon_delivery Оперативная доставка
                div.element__item.col__item4.icon_good_price
                    |
                        Выгодные<br>цены
    div.wr_center.block_information
        div.element__items.clearfix
            div.element__item.e__item2 style="width: 20%; padding-top: 49px;"
                a href="/subscribe/" class="button lp_button_red" Подписаться    
            div.element__item.block_information_info.e__item2 style="width: 80%;"
                h3 Подпишитесь на информацию о акциях и спецпредложениях!
                div.block_information_info_description
                    |
                        Подпишитесь на нашу e-mail рассылку, чтобы быть в курсе всех самых выгодных аукционных предложений!
        div.element__items.clearfix
            div.element__item.e__item2
                a href="https://www.ozon.ru/seller/originalnye-kartridzhi-539867/products/?miniapp=seller_539867" target="_blank"
                    img src="/media/images/lazurit_ozon.jpg" style="width: 100%;"
            div.element__item.e__item2
                a href="https://market.yandex.ru/business--ooo-tdlp/86708091" target="_blank"
                    img src="/media/images/lazurit_yamarket.jpg" style="width: 100%;"
        div.element__items.clearfix
            div.element__item.e__item2
                |
                    {% if brand.image_banner2 %}
                a href="#"
                    img src="{{ brand.image_banner2.url }}"
                |
                    {% endif %}
            div.element__item.block_information_info.e__item2
                h3 Нужна помощь?
                div.block_information_info_description
                    |
                        Если у Вас есть вопросы и хотите, чтобы мы Вам перезвонили - достаточно лишь нажать на кнопку ниже и указать Ваш номер телефона. Наши сотрудники ответят на любые Ваши вопросы или помогут сделать заказ
                a.lp_button href="/kontakty/" ОСТАВЬТЕ СООБЩЕНИЕ
        div.block_information_article
            h3.page_title Продажа картриджей для принтеров по всей России
            div.block_information_article__text
                p 
                    |
                        Компания ООО "Лазурит Принт" более 3 лет успешно работает на рынке поставок расходных материалов ведущих производителей. Для компаний, работающих как в Санкт-Петербурге, так и в регионах по всей России, мы готовы предоставить огромный ассортимент расходных материалов к любым видам оргтехники. Мы сотрудничаем с физ. лицами и компаниями, предоставляя быструю и квалифицированную помощь в решении проблем с печатью. Стараемся держать самые низкие цены на основные позиции.
                p
                    |
                        Мы сотрудничаем с известными производителями картриджей. У нас вы найдёте только оригинальные картриджи!
|
    {%  endblock %}