{% extends 'index.html' %}{% block styles %}<link href="/media/css/optom.css?v=1.000" rel="stylesheet" />{% endblock %}{% block scripts %}{% endblock %}{% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
{% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
{% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}{%  block content %}<div class="wr_center" id="content"><div id="breadcrumbs"><ul><li><a href="/">Главная</a></li><li class="breadcrumbs_arrow">></li><li><span>Оптовые цены на картриджи</span></li></ul></div><div class="content_catalog"><h1 class="page_title">Оптовые цены на картриджи</h1><div class="optom title_bottom_line"><div class="optom_block"><h2>В нашем каталоге более 4000 позиций</h2><label>Получите прайс-лист на всю продукцию</label><a class="button lp_button_red" href="/media/files/LP_Kyocera_HP_Oki_Xerox_orig.xlsx">Скачать     </a></div></div></div></div>{%  endblock %}
