|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/optom.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            li
                span Оптовые цены на картриджи
    div.content_catalog
        h1.page_title Оптовые цены на картриджи
        div.optom.title_bottom_line
            div.optom_block
                h2 В нашем каталоге более 4000 позиций
                label Получите прайс-лист на всю продукцию
                a href="/media/files/LP_Kyocera_HP_Oki_Xerox_orig.xlsx" class="button lp_button_red" Скачать     
|
    {%  endblock %}