|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/contacts.css?v=1.001"
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/contacts.js?v=1.001"
script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" 
script src="/media/js/map.js?v=1.000" type="text/javascript"
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            li
                span Подписаться на рассылку
    div.content_catalog
        h1.page_title Подписаться на рассылку
        div.contacts-form
             div.order_block.contacts_block-form
                div.contacts_block-form
                    form.lp_form.lp_form_field-contacts
                        div.lp_form_field
                            label.lp_form-label for="id_email" E-mail
                            |
                                {{ form.email }}
                        div.lp_form_field.contact_form-button_send
                            button.lp_button-middle.button-contact.goal_form-subscribe type="button" Подписаться
|
    {%  endblock %}