.articles__items {
	padding-top: 28px;
}

.articles__item.col__item3 {
	width: 30.3%;
    margin-right: 2.2%;
}

.articles__items .articles__item {
	padding: 30px 20px;
	border: 1px solid #e6e6ee;
	margin-bottom: 28px;
    height: 375px;
}

.articles__items .articles__item .articles__item-image img {
	max-width: 100%;
}

.articles__items .articles__item h2 {
	margin-bottom: 5px;
}

.articles__items .articles__item h2 a {
	color: #134e8a;
	font-size: 16px;
	text-decoration: none;
}

.articles__items .articles__item h2 a:hover {
	text-decoration: underline;
}

.articles__items .articles__item .articles__item-desc {
	font-size: 13px;
	color: #6e7680;
	line-height: 17px;
}


@media screen and (max-width: 1000px) {
	.articles__item.col__item3 {
     	width: 45.3%; 
     	margin-right: 2.2%; 
	}
}

@media screen and (max-width: 600px) {
	.articles__item.col__item3 {
     	width: 100%; 
     	margin-right: 0; 
	}
}