.article {
	padding-top: 30px;
}

.article p {
	font-size: 16px;
	color: #6e7680;
	line-height: 20px;
	padding-top: 20px;
}

.article p strong, 
.article p b {
	font-size: 16px;
	color: #2f3d4f;
}

.article p {

}

.article .article-image {

}