
.table-basket {
	border-top: 1px solid #e6e6ee;
	border-left: 1px solid #e6e6ee;
	border-right: 1px solid #e6e6ee;
}

.table-basket .table-tr {
	border-bottom: 1px solid #e6e6ee !important;
}

/*
.basket-table table {
	width: 100%;
}

.basket-table table td {
	text-align: center; 
	border-bottom: 1px solid #e6e6ee;
}

.basket-table table td.basket_item-name {
	text-align: left; 
}

.basket-table table tbody td.basket_item-name a {
	color: #2f3d4f;
	font-size: 16px;	
}

.basket-table table tbody td.basket_item-name a:hover {
	text-decoration: none;
}

.basket-table table td.basket_item-price {
	font-weight: bold;
	font-size: 18px;
	color: #2f3d4f;
}

.basket-table .basket-clean {
	font-size: 14px;
	font-weight: bold;
	color: #6e7680;
	text-decoration: underline;
}

.basket-table .basket-clean:hover {
	text-decoration: none;
}

.basket-table .basket-title {
	color: #2f3d4f;
	font-size: 18px;
	font-weight: bold;
}

.basket-table .basket-price {
	color: #be433d;
	font-weight: bold;
	font-size: 18px;
}

.basket-table table td.basket_item-sum {
	font-weight: bold;
	font-size: 18px;
	color: #4d6aaf;
}

.basket-table table {
	border-left: 1px solid #e6e6ee;
	border-right: 1px solid #e6e6ee;
	border-top: 1px solid #e6e6ee;
}

.basket-table table thead td {
	text-align: center; 
	color: #6e7680;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	height: 48px;
}

.basket-table table tbody tr.basket_item td {
	height: 115px;
}

.basket-table table tbody tr.basket-result td {
	height: 70px;
}
*/

.product_delete {
	width: 36px;
	height: 36px;
	background: url(../images/basket/icon_delete.png) center center no-repeat;
	border: 1px solid #e6e6ee;
	cursor: pointer;
}