.content_catalog {}

.content_catalog .catalog {
	padding-top: 30px;
}

.content_catalog .catalog .catalog_filters {
	width: 24%;
	float: left;
}

.catalog_filters .catalog_filter__items {
	border-top: 1px solid #e6e6ee;
	border-left: 1px solid #e6e6ee;
	border-right: 1px solid #e6e6ee;
}

.content_catalog .catalog .catalog_filters .catalog_filter__item {
	border-bottom: 1px solid #e6e6ee;	
	padding-bottom: 5px;
}

.catalog_filter__item .catalog_filter__item__title {
	cursor: pointer;
	color: #2f3d4f;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 18px 20px 13px; 
	background: url(../images/icon_menu_arrow.png) 95% center no-repeat;
}

.catalog_filter__item.open .catalog_filter__item__values {
	display: block;
	margin-top: 7px;
}

.catalog_filter__item .catalog_filter__item__values  {
	display: none;	
}

.content_catalog .catalog .catalog_filters .catalog_filter__item .catalog_filter__item__values .catalog_filter__item__filter {
	color: #6e7680;
	margin-bottom: 3px;
	font-size: 14px;
	padding-left: 20px;
}

.catalog_filter__item .catalog_filter__item__values .catalog_filter__item__filter label {
	vertical-align: top;
	cursor: pointer;
}

.catalog_filter__item .catalog_filter__item__values .catalog_filter__item__filter input[type=checkbox] {
	margin-right: 2px;
}

.content_catalog .catalog .catalog_products {
	width: 74.35%;
	float: right;
}

.content_catalog .catalog .catalog_products__items .product {
	width: 30.5%;
}

.cell_circle {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: #e6e6ee;;
	margin: 0px 7%;
}

.cell_row {
	display: inline-block;
    width: 20px;
	height: 5px;
	border-radius: 3px;
	background-color: #e6e6ee;
	margin: 0px 7%;
}

.catalog_products .catalog_products__panel {
	margin-bottom: 20px;
}

.catalog_products__panel .select-products_sort {
	font-size: 13px;
	color: #6e7680;
}

.catalog_products .catalog_products__panel .catalog_products__panel-sort {
	float: left;
}

.catalog_products .catalog_products__panel .catalog_products__panel-right {
	float: right;	
	width: 290px;
}

.catalog_products__panel-right .paginator_arrows,
.catalog_products__panel-right .paginator_pages,
.catalog_products__panel-right .paginator_view_catalog
 {
 	width: 33.3333%;
 	float: left;
 }

 .paginator_view_catalog a {
	display: inline-block;
	width: 40px;
    height: 37px;
	
	border-radius: .25rem;
	text-align: center;
    vertical-align: middle;
    line-height: 8px;
}

 .paginator_view_catalog a:hover {

 }

 .paginator_view_catalog a:hover span,
 .paginator_view_catalog a.active span {
 	background-color: #2f3d4f;
 }


.catalog_products__panel-right .paginator_arrows {
	width: 86px;
}

.paginator_arrows a {
	display: inline-block;
	width: 40px;
    height: 37px;
	border: 1px solid #e6e6ee;
	border-radius: .25rem;
	text-align: center;
    vertical-align: middle;
}

.paginator_arrows a.paginator-prev {
	background: url(../images/icon_menu_arrow_left.png) center center no-repeat
}

.paginator_arrows a.paginator-next {
	background: url(../images/icon_menu_arrow.png) center center no-repeat
}

.prices-values input[type=text] {
	width: 95px
}

.catalog_products__panel-right .paginator_pages {
	font-size: 13px;
}

.paginator_pages .paginator_pages-page {
	width: 40px;
    height: 37px;
    font-size: 13px;
    color: #6e7680;
    text-align: center;
    display: inline-block;
    margin-right: 7px;
}

.prices-values {
	padding: 0 10px;
	text-align: center;
}

.prices-values .prices_scroll {
	margin: 9px 0 5px;
}

.prices-values .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-b {
    border-radius: 10px;
    background: #134e8a;
}

.prices-values input[type="text"] {
    display: inline-block;
   	width: 95px;
    height: 31px;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    text-align: center;
    color: #3f4448;
    font-size: 14px;
    margin: 0 6px 0 2px;
}

.button-search {
	margin-bottom: 40px;
}

.button-search .catalog_filter__item__values {
	text-align: center;
    padding: 15px 0 15px;
}


.product_inline:first-child {
	border-top: 1px solid #e6e6ee;
}

.product_inline {   
	padding-top: 25px;
	padding-top: 25px;
    border-left: 1px solid #e6e6ee;
    border-right: 1px solid #e6e6ee;
    border-bottom: 1px solid #e6e6ee;    
}

.product_inline .product-image  {
    width: 30%;
    float: left;
    text-align: center;
}

.product_inline .product-image img {
	max-width: 90%;
}

.product_inline .product-char_info  {
    width: 40%;
    float: left;
}

.product_inline .product-buy_info  {
    width: 30%;
    float: left;
    padding-left: 40px;
}

.product_characteristic {
	width: 37%;
	float: left;
	padding: 0 30px;
	font-size: 14px;
}

.product_characteristic img {
	max-width: 100%;
}

.product_characteristic table {
	width: 100%;
}

.product_characteristic table td {
	height: 30px;
}

.product_characteristic table tr:first-child td  {
	border-top: 0;
}

.product_characteristic table tr td {
	border-top: 1px solid #e6e6ee;
}

.product_characteristic .char_title {
	text-align: left;
	padding: 4px 0 6px;
}

.product_characteristic .char_value {
	text-align: right;
}

.product_characteristic .product_brand {
	margin-top: 20px;
	font-size: 13px;
}

.product_characteristic .product_brand img {
	float: left;
	margin-right: 10px;
}

.product_characteristic .product_brand .product_brand__title {
	margin-top: 5px;
}


.product_inline  .product_characteristic {
    width: 100%;
    padding: 0;
}

.product_inline .product_inline-button {
	margin-top: 20px;
}


.product .product-not_available {
	margin-top: 8px;
	font-size: 12px;
	text-align: center;
	color: #134e8a;
}


@media screen and (max-width: 1000px) {

	.content_catalog .catalog .catalog_filters {
	    width: 100%;
	    float: left;
	}

	.content_catalog .catalog .catalog_products {
	    width: 100%;
	    float: right;
	}

	.content_catalog .catalog .catalog_products__items .product {
	    width: 48% !important;
	}

}

@media screen and (max-width: 600px) {

	.content_catalog .catalog .catalog_products__items .product {
	    width: 100% !important;
	}

}