.categories {
	padding-top: 30px;
}

.category_item {
	text-align: center;
	border: 1px solid #e6e6ee;
	padding: 23px 15px 22px 15px;
	height: 255px;
}

.category_item a {
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	font-weight: bold;
}

.category_item .category_item-title a {
	display: inline-block;
	padding: 10px 0;
	color: #2f3d4f;	
	text-transform: uppercase;
}

.category_item .category_item-title a:hover {
	color: #4d6aaf;
}

.category_item .category_item-brands {
	margin-top: 5px;
}

.category_item .category_item-brands a {
	color: #6e7680;	
}

.category_item .category_item-brands li {
	margin-bottom: 1px;
}

.category_item .category_item-brands a:hover {
	color: #2f3d4f;
}