@font-face {
    font-family: "opensans_regular";
    src: url(../fonts/opensans_regular/OpenSans-Regular-webfont.eot);
    src: url(../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix)format("embedded-opentype"),
    url(../fonts/opensans_regular/OpenSans-Regular-webfont.woff) format("woff"),
    url(../fonts/opensans_regular/OpenSans-Regular-webfont.ttf) format("truetype"),
    url(../fonts/opensans_regular/OpenSans-Regular-webfont.svg#opensans_regular) format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "opensans_bold";
    src: url(/media/fonts/opensans_bold/OpenSans-Bold-webfont.eot);
    src: url(/media/fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix)format("embedded-opentype"),
    url(/media/fonts/opensans_bold/OpenSans-Bold-webfont.woff) format("woff"),
    url(/media/fonts/opensans_bold/OpenSans-Bold-webfont.ttf) format("truetype"),
    url(/media/fonts/opensans_bold/OpenSans-Bold-webfont.svg#opensans_bold) format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "opensans_semibold";
    src: url(/media/fonts/opensans_semibold/OpenSans-Semibold-webfont.eot);
    src: url(/media/fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix)format("embedded-opentype"),
    url(/media/fonts/opensans_semibold/OpenSans-Semibold-webfont-Bold.woff) format("woff"),
    url(/media/fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf) format("truetype"),
    url(/media/fonts/opensans_semibold/OpenSans-Semibold-webfont.svg#opensans_semibold) format("svg");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.font-bold {
    font-family: "opensans_bold";
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.content_catalog {

}

.search_middle,
#menu_t > div > ul > li.menu_item_middle {
    display: none;
}

#menu_t > div > ul > li.menu_item_middle {
    position: relative;
}


.content_catalog .title_bottom_line {
    border-top: 1px solid #e6e6ee;
}

.cols__items {
    width: 105%;
}

.col__item2 {
    width: 47.7%;
    float: left;
    margin-right: 2.3%;
}

.col__item3 {
    width: 30.9%;
    float: left;
    margin-right: 1.3%;
    overflow: hidden;
}

.col__item4 {
    width: 22.1%;
    float: left;
    margin-right: 2.3%;
}

body {
    font-family: "opensans_regular";
     font-size: 1em;
    color: #3c3c3b;
}

.font-bolditalic {
    font-family: "opensans_bolditalic";
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.wr_center {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    /* border: 1px solid #ccc; */
}

.title_line {
    width: 70px;
    border-bottom: 3px solid #134e8a;
}

.button {
    background: #134e8a;
    cursor: pointer;
}

.button:hover {
    background: #134e8a;
}

.lp_button,
.lp_button2 {    
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: #134e8a;
    text-decoration: none;
    padding: 0.87rem 1.75rem;
    vertical-align: middle;
}

.lp_button2 {
    height: 38px;
    background: #134e8a url(../images/catalog/icon_buy.png) 13px center no-repeat;
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 10px;
}

.lp_button-middle {
    background: #134e8a;
    font-size: 14px;
    text-align: center;
    height: 35px;
    padding: .375rem 1.75rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5;
}


.lp_button_red {
    background: #a71212;
    font-size: 19.5px;
    text-align: center;
    height: 50px;
    padding: 10px 100px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5;
}

a.lp_button_red {
    display: inline-block;
    text-decoration: none;
    padding: .55rem 1.75rem;
    vertical-align: middle;
}

.lp_button_red-middle {
    background: #a71212;
    font-size: 14px;
    text-align: center;
    height: 41px;
    padding: .375rem 1.75rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5;
}

a.lp_button_red-middle {
    display: inline-block;
    text-decoration: none;
    padding: .55rem 1.75rem;
    vertical-align: middle;
}

.order_block h3 {
    font-size: 18px;
    color: #134e8a;
    margin-bottom: 25px;
}

#header {
	background-color: #f1f1f9;
    height: 121px;
}

#header .wr_center {
    padding: 31px 0 28px 15px; 
}

#header .wr_center > div {
    float: left;
}

#header .h_b_logo {
    width: 20%;
}

#header .h_b_phone {
    width: 23%;
}

#header .h_b_phone .h_phone {
    
}

#header .h_b_phone .h_phone a {
    font-size: 23px;
    color: #134e8a;
    text-decoration: none;
}


#header .h_b_phone .h_worktime {
    font-size: 13px;
    color: #6e7680;
    margin-top: 3px;
}

#header .h_b_search {
    width: 40%;
}

#header .h_b_search {
	position: relative;
}

#header input[type=text] {
    width: 100%;
    height: 47px;
    border: 1px solid #e6e6ee;
    border-radius: 3px;
    padding: 2px 10px;
}

#header button[type="submit"] {
	position: absolute;
	cursor: pointer;
	height: 45px;
	width: 47px;
	top: 1px;
	right: 1px;
	background: url(../images/loupe_icon.png) center center no-repeat;
}

#header .h_b_search .header_info {
    font-size: 14px;
    color: #8b95a2;
    margin-top: 7px;
}

#header .h_b_basket {
    position: relative;
    width: 17%;
}

#header .h_b_basket .h_b_basket_count {
    position: absolute;
    top: 0px;
    left: 59px;
    width: 22px;
    height: 22px;
    background: #a71212;
    text-align: center;
    line-height: 21px;
    color: #fff;
    border-radius: 12px;
    font-size: 12px;
    z-index: 5;
    font-family: "opensans_bold";
}

#header .h_b_basket a {
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 90px;
}

#header .h_b_basket a:before {
    content: '';
    height: 30px;
    width: 90px;
    position: absolute;
    left: 5px;
    top: 5px;
    overflow: hidden;
    background: url(../images/basket_icon.png) center center no-repeat;
}

#header .h_b_basket ul {
    color: #134e8a;
    font-weight: bold;
}

#header .h_b_basket ul li:first-child {
    font-size: 12px;
    margin-bottom: 1px;
}

#header .h_b_basket ul li {
    font-size: 16px;
}

#menu_t {
	background-color: #134e8a;
}

#menu_t .wr_center {
    height: 53px;
}

#menu_t > div > ul > li {
    display: inline-block;
}

#menu_t > div > ul > li.menu_item_catalog > a {
    font-size: 14px;
}

#menu_t > div > ul > li > a {
	height: 53px;
    line-height: 52px;
    display: block;
    padding: 0 16px 0 16px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    font-family: "opensans_bold";
}

#menu_t > div > ul > li.menu_item_middle > a {
    padding: 0 10px;
    background-image: url(../images/icon_catalog_item.png);
    background-repeat: no-repeat;
    background-position: center center;
}


#menu_t > div > ul > li.menu_item_middle span {
    display: none;
}


#menu_t > div > ul > li.menu_item_catalog > a {
    width: 270px;
    padding-left: 67px;
    background-image: url(../images/icon_catalog_item.png);
    background-repeat: no-repeat;
    background-position: 32px center;
}

#menu_t > div > ul > li.menu_item_catalog {
    position: relative;
}

#menu_t > div > ul > li > a:hover {
    background-color: #5271ba;
    font-weight: normal;
    cursor: pointer;
}

#menu_t > div > ul > li > a > span {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
}


#menu_t .menu_item_catalog_submenu {
    display: none;
    position: absolute;
    border-left: 1px solid #e6e6ee;
    border-right: 1px solid #e6e6ee;
    width: 270px;
    height: 400px;
    background-color: #ffffff;
    top: 53px;
    left: 0;
    padding: 20px 0;
    z-index: 1;
}

#menu_t .menu_item_middle_submenu {
    display: none;
    position: absolute;
    border-left: 1px solid #e6e6ee;
    border-right: 1px solid #e6e6ee;
    width: 270px;
    background-color: #ffffff;
    top: 53px;
    right: 0;
    padding: 20px 0 0;
    z-index: 1;
}

#menu_t .menu_item_catalog:hover .menu_item_catalog_submenu {
    display: block;
}

#menu_t .menu_item_middle:hover .menu_item_middle_submenu {
    display: block;
}

.menu_item_middle_submenu {
    text-align: left;
    padding-bottom: 20px;
}

.menu_item_middle_submenu ul {
    border-bottom: 1px solid #e6e6ee;
    padding-bottom: 4px;
}

.menu_item_middle_submenu li {
    padding-left: 20px;
}

.menu_item_middle_submenu li a {
    display: block;
    text-decoration: none;
    color: #6e7680;
    height: 37px;
    padding-bottom: 12px;
    padding-top: 7px;
    font-size: 14px;
    cursor: pointer;
}

.menu_item_middle_submenu .catalog_submenu_item {
    background: url(../images/icon_menu_arrow.png) 94% 13px no-repeat;
}


.menu_item_catalog_submenu {
    text-align: left;
    padding-bottom: 20px;
}

.menu_item_catalog_submenu ul {
    border-bottom: 1px solid #e6e6ee;
    padding-bottom: 4px;
}

.menu_item_catalog_submenu li {
    padding-left: 42px;
}

.menu_item_catalog_submenu li a {
    display: block;
    text-decoration: none;
    color: #6e7680;
    height: 37px;
    padding-bottom: 12px;
    padding-top: 7px;
    font-size: 14px;
    cursor: pointer;
}

.menu_item_catalog_submenu .catalog_submenu_item {
    background: url(../images/icon_menu_arrow.png) 94% 13px no-repeat;
}

.menu_item_catalog_submenu .catalog_submenu_title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; 
}

.menu_item_catalog_submenu li.catalog_submenu_title a {
    color: #134e8a;
    height: 53px;
    padding-top: 8px;
}

.menu_item_catalog_submenu .icon_cartridge {
    background: url(../images/icon_original_tonar.png) 15px 12px no-repeat;
}

.menu_item_catalog_submenu .icon_mfu {
    background: url(../images/icon_mfu.png) 15px 24px no-repeat;
}

.menu_item_catalog_submenu li.icon_mfu a {
    padding-top: 20px;
}

.menu_item_catalog_submenu .icon_sovmestimy-cartridge {
    background: url(../images/icon_like_tonar.png) 15px 12px no-repeat;
}

.menu_item_catalog_submenu .icon_spares {
    background: url(../images/icon_spares.png) 15px 12px no-repeat;
}

.content_catalog {
    min-height: 500px;
}

#breadcrumbs {
    margin-top: 20px;
    margin-bottom: 30px;
}

#breadcrumbs li {
    display: inline-block;
    font-size: 12px;
}

#breadcrumbs li.breadcrumbs_arrow {
    display: inline-block;
    padding: 3px 5px;
    color: #134e8a;
}

#breadcrumbs li a {
    text-decoration: underline;
    color: #6e7680;
}

#breadcrumbs li a:hover {
    text-decoration: none;
}

.element__items {}

.element__item {
    float: left;
}

.e__item2 {
    width: 50%;
}

.e__item3 {
    width: 33.3333%;
}

.e__item4 {
    width: 25%;
}

.lp_form {}

.lp_form-input {
    display: block;
    width: 100%;
    padding: .65rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.lp_form-label {
    cursor: pointer;
    display: block;
    width: 100%;
    color: #3c3c3b;
    font-size: 14px;
    margin-bottom: 8px;
}

.product_price_counter {
    border: 1px solid #e6e6ee;
    width: 110px;
    margin: 8px auto 10px;
}

.product_price_counter button {
    width: 36px;
    height: 36px;
    background: #fff;
    font-weight: bold;
    font-size: 13px;
}

.product_price_counter input {
    text-align: center;
    font-weight: bold;
    color: #134e8a;
    font-size: 13px;
    width: 36px;
    height: 36px;
    border-left: 1px solid #e6e6ee;
    border-right: 1px solid #e6e6ee;
}

.content_general
{
    background: url(../images/fone_top.png) no-repeat;
}

#content .page_title {
    font-size: 24px;
    color: #134e8a;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6ee;
    background: url(../images/line_title.png) 0 100% no-repeat;
    margin-bottom: 30px;
}

.products__items {
    width: 105%;
}

.product {
    position: relative;
    float: left;
    margin-right: 2%;
    margin-bottom: 25px;
    padding: 25px 10px 0;
    border: 1px solid #e6e6ee;
    height: 350px;
    overflow: hidden;
    text-align: center;
}

.product .image {
    text-align: center;
    height: 245px;
    line-height: 240px;
}

.product img {
    max-width: 100%;
    display: inline-block !important;
    vertical-align: middle;
}

.product .title a,
.product_inline .title a {
    font-size: 16px;
    color: #134e8a;
    font-weight: bold;
    text-decoration: none;
}

.product .params {
    color: #b4bcc5;
    font-size: 12px;
    margin-top: 5px;
}

.product .buy {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 12px;
    right: 12px;
    border-top: 1px solid #e6e6ee;
    padding-top: 13px;
    background: #fff;
}

.product .price,
.product_inline .price {
    float:  left;
    padding-top: 3px;
    color: #134e8a;
    font-weight: bold;
    font-size: 18px;
}

.product .product-not_available {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: #134e8a;
}

.product_inline .price {
    float: none;
}

.product .button_buy, 
.product_inline .button_buy {
    float: right;
    width: 31px;
    height: 31px;
    border-radius: 5px;
    background: #134e8a url(../images/catalog/icon_buy.png) center center no-repeat;
}

.product.product2 {
    width: 47%;
}

.product.product2.best_products_banner {
    padding: 0;
}


#footer {
	background-color: #134e8a;
	color: #fff;
    padding: 35px 0;
}

#footer .fb_ct__title {
    font-weight: bold;
    margin-bottom: 3px;
}

#footer > .wr_center > div {
    float: left;
    width: 25%;
}

#footer .f_b_categories a,
#footer .f_b_articles a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

#footer .f_b_contacts {
    margin-top: 10px;
}

#footer .f_b_contacts .f_b_email {
    font-size: 14px;
    color: #dae5ff;
    text-decoration: none;
}

#footer .f_b_contacts .f_b_phone {
    font-size: 24px;
    color: #dae5ff;
    text-decoration: none;
}

#footer_sub {
    height: 72px;
}

#footer_sub .footer_sub_text1 {
    color: #6e7680;   
    font-size: 16px;
    height: 72px;
    line-height: 72px;
}

#footer_sub .footer_sub_text1 span,
#footer_sub .footer_sub_text1 img {
    display: inline-block;
    vertical-align: middle;
}

#footer_sub .footer_sub_text1 img {
    margin-left: 10px;
}

#footer_sub .footer_sub_text2 {
    color: #b5bdc6;   
    font-size: 12px;
    line-height: 15px;
    height: 72px;
    padding-top: 14px;
}

.brands_slider {
    margin-top: 40px;
    padding: 20px 0 20px;
    border-top: 1px solid #e6e6ee;
}

.brands_slider ul {}

.brands_slider ul li {
    display: block;
    float: left;
    width: 16.6666%;
    text-align: center;
    padding: 0 5px;
}


.table {}

.table .table-header .table-tr {

    color: #fff;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    color: #6e7680;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    height: 48px;
}

.table-td {
    float: left;
    word-break: break-word;
}

.table-td > span {
    vertical-align: middle;
    display: inline-block;
}


.table-body .table-tr {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.table-body .table-td {
    height: 100%;
}

.table-spares .table-body .table-tr {
    padding: 5px;
}

.table-spares .table-td > span {
    line-height: 16px;
}

.table-spares .table-td > span a {
    color: inherit;
    word-break: break-word;
}

.table-spares .table-td > span a:hover {
    text-decoration: underline;
}

.table-spares .table-body .table-tr {
    line-height: 47px;
}

.table-spares .table-body .table-td-name, 
.table-spares .table-body .table-td-price{
    text-align: left;
}



.table-basket {

}

.table-basket .table-td_image {
    width: 15%;
}

.table-basket .table-td_image img {
    max-width: 100%;
}

.table-basket .table-td_image a {
    display: block;
    width: 115px;
    /* height: 85px; */
    text-align: center;
    line-height: 1.25;
    /* border: 1px solid #e3e3e3; */
    background: #fff;
    margin: 0 auto;
}

.table-basket .table-td_name {
    padding-left: 2%;
}

.table-basket .table-body .table-tr {
    border: 0;
    margin-top: 9px;
    padding-bottom: 9px;
}

.table-basket .table-td_name {
    width: 25%;
}

.table-basket .table-body .table-td_counter {
    padding-top: 7px;
}

.table-basket .table-body .table-td_name,
.table-basket .table-body .table-td_price,
.table-basket .table-body .table-td_amount,
.table-basket .table-body .table-td_remove {
    padding-top: 18px;
}

.table-basket .table-td_name a {
    color: #134e8a;
    font-size: 16px;
    text-decoration: underline;
}

.table-basket .table-td_name a:hover {
    text-decoration: none;
}

.table-basket .table-td_counter {
    width: 15%;
}

.table-basket .table-td_amount {
    width: 15%;
    text-align: center;
}

.table-basket .table-td_remove {
    width: 15%;
    text-align: center;
}

.table-basket .table-body .table-td_amount {
    font-weight: bold;
    font-size: 18px;
    color: #134e8a;
}


.table-basket .table-td_counter .product-counter  {
    text-align: center;
}

.table-basket .table-td_price {
    width: 11%;
}

.table-basket .table-td_price .product-basket-price_old {
    font-size: 14px;
    color: #6b737a;
    text-decoration: line-through;
}

.table-basket .table-td_price .product-basket-price_new,
.table-basket .table-td_amount .product-basket-price_new {
    font-weight: bold;
    font-size: 18px;
    color: #134e8a;
}

.table-basket .basket-result .basket-clean {
    font-size: 14px;
    font-weight: bold;
    color: #6e7680;
    padding-top: 13px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.table-basket .basket-result .basket-clean:hover {
    text-decoration: none;   
}


.table-basket .basket-title {
    color: #134e8a;
    font-size: 18px;
    font-weight: bold;
}

.table-basket .basket-price {
    color: #a71212;
    font-weight: bold;
    font-size: 18px;
}

.table-basket .basket-sum {
    padding-top: 13px;
}

.table-basket .basket-order_button {
    width: 20%;
    text-align: center;
}

 .basket-order_button {
    padding-top: 7px;
 }

 .cl {
    clear: both;
 }

 .table-basket .cl {
    display: none;
 }

@media screen and (max-width: 1000px) {
    
    .search_middle {
        margin-top: 75px;
        display: block;
        position: relative;
    }

    .search_large {
        display: none;
    }

    #menu_t > div > ul > li.menu_item_middle {
        display: block;
    }

    #header {
        height: auto; 
    }

    #header .h_b_logo {
        width: 20%;
    }

    #header .h_b_phone {
        width: 32%;
    }

    #header .h_b_search {
        width: 20%;
    }

    #header .h_b_basket {
        position: relative;
        width: 28%;
    }

    #menu_t .menu_item_catalog_submenu {
        display: none !important;
    }

    #menu_t .menu_item_catalog:hover .menu_item_catalog_submenu,
    #menu_t .menu_item_middle:hover .menu_item_catalog_submenu {
        display: block !important;
    }

    #menu_t > div > ul > li.menu_item_articles,
    #menu_t > div > ul > li.menu_item_about,
    #menu_t > div > ul > li.menu_item_kontakty {
        display: none;
    }

    #menu_t > div > ul > li.menu_item_catalog > a {
        width: auto;
    }

    #menu_t > div > ul > li {
        float: left;
    }

    .menu_item_catalog {
        width: 30%;
    }
    .menu_item_delivery {
        width: 13%;
    }
    .menu_item_auction {
        width: 20%;
    }
    .menu_item_opt {
        width: 30%;
    }
    .menu_item_middle {
        width: 7%;
    }

    .general_banner {
        width: 100% !important;
        height: auto !important;
        position: relative;
        /* overflow: hidden; */
        margin-left: 0 !important; 
    }
    
    #footer > .wr_center > div {
        float: left;
        width: 50%;
    }

    #footer > .wr_center > div {
        height: 150px;
    }
    
    .line_information {
        height: auto !important;
    }

    .col__item4 {
        width: 46%;
    }
}

@media screen and (max-width: 600px) {

    .search_middle {
        margin-top: 100px;
    }
    
    #menu_t > div > ul > li.menu_item_middle > a {
        padding-left: 67px;
        background-image: url(../images/icon_catalog_item.png);
        background-repeat: no-repeat;
        background-position: 32px center;
    }

    #menu_t > div > ul > li.menu_item_middle span {
        display: inline-block;
    }
    
    #header .h_b_logo {
        width: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #header .h_b_phone {
        width: 54%;
        position: absolute;
        top: 70px;
        left: 10px;
    }

    #header .h_b_phone .h_phone {
        font-size: 21px;
    }

    #header .h_b_search {
        width: 40%;
        position: absolute;
        top: 70px;
        right: 10px;
    }

    #header .h_b_search .header_info {
        font-size: 12px;
    }

    #header .h_b_basket {
        width: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .best_products__items .product {
        width: 47%;
    }

    .line_information {
        height: auto;
    }
    
    #menu_t > div > ul > li.menu_item_delivery,
    #menu_t > div > ul > li.menu_item_auction,
    #menu_t > div > ul > li.menu_item_opt {
        display: none;
    }

    .menu_item_catalog {
        width: 50%;
    }

    .menu_item_middle {
        width: 50%;
    }


    #header .wr_center {
        padding: 31px 0 28px 15px;
        position: relative;
    }


    #footer > .wr_center > div {
        float: left;
        width: 100%;
    }

    .col__item4 {
        width: 100%;
    }

    .e__item2 {
        width: 100% !important;
    }

    .table-basket .cl {
        display: block;
    }

    .table-basket .table-td_image,
    .table-basket .table-td_name,
    .table-basket .table-td_price,
    .table-basket .table-td_counter,
    .table-basket .table-td_amount,
    .table-basket .table-td_remove
     {
        width: 33.3333%;
    }


    .table-basket .basket-result .basket-clean {
        display: none;
    }

    .table-basket .basket-result .basket-sum {
        margin-bottom: 10px;
    }

    .table-basket .basket-result .basket-sum,
    .table-basket .basket-result .basket-order_button {
        width: 100% !important;
        text-align: center;
    }

    .table .table-header .table-tr {
        height: auto;
    }
}
