.contacts {}

.contacts .contacts-informations {
	float: left;
	width: 74.52%;
}

.contacts .contacts-form {
	float: right;
	width: 23%;
}

.contacts-informations__items {}

.contacts-informations__items .contacts-informations__item {
	width: 100%;
	min-height: 31px;
	border-top: 1px solid #e6e6ee;
	padding: 3px 0 5px;
}

.contacts-informations__items .contacts-informations__item:first-child {
	border-top: 0;
}

.contacts-informations__item .contacts-informations__item-name {
	display: inline-block;
	text-align: left;
	width: 50%;
	color: #2f3d4f;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
}

.contacts-informations__item .contacts-informations__item-value {
	display: inline-block;
	text-align: right;
	font-size: 14px;
	width: 50%;
	color: #6e7680;
	vertical-align: middle;
}

.contacts-map {
	margin-top: 20px;
	height: 340px;
}


.lp_form .lp_form_field:first-child {
    margin-top: 0;
}

.lp_form .lp_form_field {
    margin-top: 12px;
}

.contacts-form .lp_form_field {
	margin-bottom: 5px;
}

.contact_form-button_send {
	text-align: center;
	padding-top: 15px;
}


@media screen and (max-width: 600px) {

	.contacts .contacts-informations {
	    float: left;
	    width: 100%;
	}

	.contacts .contacts-form {
	    float: right;
	    width: 100%;
	}
}