.delivery_text {
	padding: 25px 5px;
	color: #6e7680;
	font-size: 14px;
}

.delivery_item {
	text-align: center;
	border: 1px solid #e6e6ee;
	padding: 23px 15px 22px 15px;
	height: 200px;
	position: relative;
}

.delivery_item .delivery_item-icon {
	margin-top: 15px;
}

.delivery_item .delivery_item-info {
	position: absolute;
	bottom: 30px;
}

.delivery_item .delivery_item-info-place {
	font-size: 14px;
	color: #6e7680;
	margin-bottom: 5px;
}

.delivery_item .delivery_item-info-price {
	font-size: 16px;
	color: #4d6aaf;
	font-weight: bold;
}