.general_banner {
    width: 55%;
    /* height: 400px; */
    position: relative;
    /* overflow: hidden; */
    margin-left: 34%;
}

.general_banner .general_banner-block li {
    /* height: 400px; */
    /* overflow: hidden; */
}

.general_banner img {

}

.general_banner .bx-wrapper {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 0;
    background: transparent;
}

.best_products {
    margin-top: 30px;
    background-color: #fff;
}

.best_products .best_products__tabs .best_products__tab {
    display: inline-block;
    margin-right: 60px;
    padding-bottom: 12px;
    font-size: 16px;
    color: #2f3d4f;
    font-weight: bold;
}

.best_products_tab__items .best_products_tab_item {
    display: none;
}

.best_products__items .product {
    width: 22.5%;
}

.best_products__items .product.product2 {
    width: 47%;
}

.best_products_tab__items .best_products_tab_item.active {
    display: block;
}

.best_products .best_products__tabs .best_products__tab:hover,
.best_products .best_products__tabs .best_products__tab.active {
    color: #134e8a;
    font-weight: bold;
    border-bottom: 3px solid #134e8a;
    cursor: pointer;
}

.best_products .best_products_tab__items {
    padding-top: 30px;
    border-top: 1px solid #e6e6ee;
}

.line_information {
    height: 127px;
    background-color: #134e8a;
    color: #fff;
}

.block_information {
}

.block_information img {
    max-width: 100%;
}   

.block_information .element__items {
    text-align: center;
    padding: 60px 0 50px; 
}

.block_information .block_information_info {
    padding-top: 40px;
}

.block_information .block_information_info h3 {
    font-size: 24px;
}

.block_information .block_information_info .block_information_info_description {
    margin-top: 30px;
    font-size: 13px;
    color: #6e7680;
    padding: 0 30px;
}

.block_information .block_information_info .lp_button {
    margin-top: 30px;
}



.line_information__items {}

.line_information__items .element__item {
    padding: 45px 0 0 115px;
    height: 127px;
}

.icon_good_quality {
    background: url(../images/general_page/icon_good_quality.png)  32px center no-repeat;
}

.icon_product_producer {
    background: url(../images/general_page/icon_product_producer.png)  32px center no-repeat;
}

.icon_delivery {
    background: url(../images/general_page/icon_delivery.png)  32px center no-repeat;
}

.icon_good_price {
    background: url(../images/general_page/icon_good_price.png)  32px center no-repeat;
}

.block_information_article {}

.block_information_article .block_information_article__title {
    padding-bottom: 9px;
}

.block_information_article .block_information_article__text {
    padding-top: 23px;
    border-top: 1px solid #e6e6ee;
    padding-bottom: 30px;
}

.block_information_article .block_information_article__text p {
    font-size: 14px;
    color: #6e7680;
    margin-bottom: 18px;
}


@media screen and (max-width: 600px) {
    .best_products__items .product {
        width: 47%;
    }
}