.optom_block {
    text-align: center;
    padding: 62px 0 45px;
}

.optom_block h2 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #134e8a;
    margin-bottom: 15px;
}

.optom_block label {
    display: block;
    margin-bottom: 40px;
    font-size: 16px;
    color: #134e8a;
}