.order {
	
}

.order .order_basket {
	width: 23%;
	float: right;
}

.order_basket .basket__items {
	border-left: 1px solid #e6e6ee;
	border-right: 1px solid #e6e6ee;
}

.basket__items .basket__item {
	padding: 18px 20px;
	border-top: 1px solid #e6e6ee;
}

.basket__result {
	height: 120px;
	background: #f1f1f9;
	text-align: center;
	padding: 25px 0 20px;
}

.basket__result .basket__result-sum {
	font-size: 18px;
	font-weight: bold;
	color: #134e8a;
    margin-bottom: 10px;
}

.basket__items .basket__item .basket__item-name a {
	color: #2f3d4f;
	font-size: 16px;
}

.basket__items .basket__item .basket__item-name a:hover {
	text-decoration: none;
}

.basket__items .basket__item .basket__item-count {
	margin-top: 3px;
	color: #6e7680;
	font-size: 13px;
}

.basket__items .basket__item .basket__item-sum {
	margin-top: 10px;
	color: #134e8a;
	font-size: 18px;
	font-weight: bold;
}

.order .order_params {
	width: 74.5%;
	float: left;
}

.lp_form {}

.lp_form .lp_form_field {
	margin-top: 12px;
}
.lp_form.lp_form_field-contacts .lp_form_field:first-child {
	margin-top: 0;
}

.lp_form_field-contacts .e__item2 {
	width: 48.5%;
}

.lp_form_field-contacts .e__item2:first-child {
	margin-right: 3%;
}

.order_block {
	padding-top: 20px;
}

.methods_pay_block.order_block {
	margin-top: 10px;
}

.order_block h3 {
	font-size: 18px;
	color: #134e8a;
	margin-bottom: 25px;
}

.methods_pay__items {
	width: 48%; 
	margin-right: 2%; 
	float: left;
}

.methods_delivery__items {
	width: 50%; 
	float: left;
}

.methods_pay__items .methods_pay__item {
	margin-bottom: 25px;
}

.methods_pay__items .methods_pay__item-radio {
	float: left;
	width: 4%;
	text-align: center;
}

.methods_pay__items .methods_pay__item-title {
	float: left;
	width: 96%;
	padding-top: 1px;
}

.methods_pay__items .methods_pay__item-title .lp_form-label {
	font-size: 14px;
	color: #3c3c3b;
	margin-bottom: 1px;
}

.methods_pay__items .methods_pay__item-title span {
	font-size: 13px;
	color: #6e7680;
}

.methods_pay__items .methods_pay__item-title img {
	vertical-align: middle;
}

.basket__result.basket__result-mobile {
	display: none;
}


@media screen and (max-width: 600px) {

	.methods_pay__items {
		width: 100% !important; 
		margin-right: !important; 
	}

	.methods_delivery__items {
		width: 100% !important; 
	}

	.order .order_basket {
	    width: 100%;
	}

	.order .order_params {
	    width: 100% !important;
	}

	.basket__result.basket__result-mobile {
		display: block;
	}

	.basket__result.basket__result-desktop {
		display: none;
	}

}