.content_product {
	margin-top: 20px;
}

.product_info {
	padding-top: 30px;
	border-top: 1px solid #e6e6ee;
}

.product_info .product_image {
	width: 40%;
	float: left;
	text-align: center;
}

.product_info .product_image img {
	max-width: 100%;
}


.product_info .product_price {
	width: 23%;
	float: left;
	text-align: center;
	padding: 40px 0;
	border: 1px solid #e6e6ee;
}

.product_price .product-not_available {
	margin-top: 30px;
	font-size: 16px;
	text-align: center;
	color: #134e8a;
}

.product_info .product_price .product_price_old {
	font-size: 16px;
	margin-bottom: 20px;
	text-decoration: line-through;

}

.product_info .product_price .product_price_new {
	font-size: 24px;
	color: #134e8a;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.product_info .product_price .product_price_new .product_price_new_currency {
	font-size: 18px;
}

.products_recommend h3 {
	padding-bottom: 10px;
}

.products_recommend .products__items {
	/* padding: 30px 0;
	border-top: 1px solid #e6e6ee;
	 */
}
.compatibility__content .products__items .product {
	 width: 22.5%;
}

.contacts-map { 
	height: 300px;
}

.lp_tabs {
	min-height: 150px;
}

.lp_tabs_title__items .lp_tabs_title__item {
	position: relative;
    padding: 10px 30px;
	display: inline-block;
	font-size: 16px;
	color: #2f3d4f;
	font-weight: bold;
}

.lp_tabs_title__items .lp_tabs_title__item hr {
	position: absolute;
	bottom: 0;
	left: 7px;
}

.lp_tabs_title__items .lp_tabs_title__item:hover,
.lp_tabs_title__items .lp_tabs_title__item.active {
	cursor: pointer;
	color: #134e8a;
	font-weight: bold;
}

.lp_tabs_title__items .lp_tabs_title__item:hover hr,
.lp_tabs_title__items .lp_tabs_title__item.active hr {
    width: 70px;
    border-bottom: 3px solid #134e8a;
}

.lp_tabs_title__items .lp_tabs_title__item.icon_description {
	background: url(../images/product/icon_description.png) 7px center no-repeat;
}

.lp_tabs_title__items .lp_tabs_title__item.icon_characteristic {
	background: url(../images/product/icon_characteristic.png) 7px center no-repeat;
}

.lp_tabs_title__items .lp_tabs_title__item.icon_compatibility {
	background: url(../images/product/icon_compatibility.png) 7px center no-repeat;
}

.lp_tabs_title__items .lp_tabs_title__item.icon_wherebuy {
	background: url(../images/product/icon_wherebuy.png) 7px center no-repeat;
}

.lp_tabs__content__items {
	border-top: 1px solid #e6e6ee;
}

.lp_tabs__content__items .lp_tabs__content__item {
	display: none;
	padding: 20px 0;
	font-size: 14px;
	color: #6e7680;
}

.lp_tabs__content__items .lp_tabs__content__item.active {
	display: block;
}

.lp_tabs__content__items .lp_tabs__content__item .product_characteristic {
	color: #3c3c3b;
}

@media screen and (max-width: 600px) {

	.product_info .product_image {
	    width: 100%;
	}

	.product_info .product_price {
	    width: 100%;
	 }

	div.product_characteristic {
	    width: 100% ;
	 }

}