.window.basket-fast {
	width: 970px;
}

.window.window-order_ok {
	width: 470px;
}

.window {
	width: 970px;
}

.window.window-basket .table-basket .cl {
	display: none;
}

.window-body {
	padding: 20px;
}

.window-basket-form .form-block select.form-input {
	background: #f4f5f8;
}

.window-head {
	height: 102px;
	background: #f1f1f9;
	/*background: #f4f5f8 url(../images/icon_window.png) 53px center no-repeat;*/
	padding-left: 25px;
	   font-family: "opensans_bold";
}

.window-title {
	font-size: 24px;
	color: #3f4448;
	font-family: "MyriadProBold";
	padding-top: 25px;
}

.window-description {
	color: #6b737a;
	font-size: 14px;
	margin-top: 3px;
}

.window-basket-submit {
	margin-top: 30px;
	text-align: center;
}

.window-basket-buttons {
	text-align: center;
	margin-top: 17px;
}

.window-basket-form .content_block .content_block-title {
	text-align: center;
}

.window-basket-information {
	margin-top: 15px;
}

.window-basket-information .message_block-warning {
	color: #3f4448;
	background-position: 25px 27px;
}

.window-basket-tabs_title input[type=radio] {
	margin: 0 5px;
}

.window-basket-tabs_content {
	margin-top: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
}

.window-basket-entity .block-item2:first-child {
	padding-left: 30px;
	padding-right: 0;
}

.window-basket-entity .block-item2 {
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right: 30px;
}

.window-basket-form .form-block textarea.form-input {
    height: 114px;
}

.form_order_ur-fast {
	display: none;
}

.window-authenticated {
	width: 350px;
}

.window-authenticated img {
	display: block;
}

.window-response {
	width: 400px;
}

@media screen and (max-width: 600px) {
	.window {
		width: 330px !important;
	}

	.window.window-basket .table-basket .table-td_image {
		width: 40%;
	}

	.window.window-basket .table-basket .table-td_name {
	    width: 60%;
	}

	.window.window-basket .table-basket .table-td_counter {
		width: 45%;
	}

	.window.window-basket .table-basket .table-td_price {
		width: 55%;
	}

	.window.window-basket .table-basket .cl {
		display: block;
	}

	.window-head {
		height: auto;
	}

	.window-basket-entity .block-item2:first-child, .window-basket-entity .block-item2 {
		padding-top: 0;
		padding-left: 30px;
		padding-right: 30px;
	}


}