|
    {% load common_tags %}
div.wr_center
    div.best_products__tabs
        div class="best_products__tab lp_tabs_title__item{% if brand.is_kyocera %} active{% endif %}" Kyocera
        div class="best_products__tab lp_tabs_title__item{% if brand.is_hp %} active{% endif %}" Hewlett-Packard
    div.best_products_tab__items.lp_tabs__content__items
        div.best_products_tab_item.lp_tabs__content__item.active
            div.best_products__items.products__items.clearfix
                div.product.product2.best_products_banner
                    |
                        {% if brand.image_banner1 %}
                    a href="#"
                        img src="{{ brand.image_banner1.url }}" class="button_change_brand"
                    |
                        {% endif %}
                |
                    {% for product in products %}
                div.product
                    div.title
                        a href="{{ product.url }}"
                            |
                                {{ product.name }}
                    div.params  
                    div.image
                        a href="{{ product.url }}"
                            img src="{{ product.image_product.url }}" alt="{{ product.name }}"
                    div.buy
                        |
                            {% if product.price == 1 %}
                        div.product-not_available Нет в наличии
                        |
                            {% else %}
                        div.price
                            |
                                {{ product.price|price_format }} руб.
                        button.button_buy.basket_add data-product-id="{{product.id}}"
                        |
                            {% endif %}
                |
                    {% endfor %}