ul.menu_t_big
    li.menu_item_catalog
        a href="/shop/" 
            span КАТАЛОГ ТОВАРОВ
        div.menu_item_catalog_submenu
            ul
                li.catalog_submenu_title.icon_cartridge
                    a href="/cartridge/" Оригинальные тонер-картриджи
                li.catalog_submenu_item
                    a href="/cartridge/kyocera/" Kyocera
                li.catalog_submenu_item
                    a href="/cartridge/hewlett-packard/" Hewlett-Packard
                li.catalog_submenu_item
                    a href="/cartridge/xerox/" XEROX
                li.catalog_submenu_item
                    a href="/cartridge/canon/" Canon
                li.catalog_submenu_item
                    a href="/cartridge/oki/" Oki
            ul
                li.catalog_submenu_title.icon_mfu
                    a href="/mfu/" МФУ
                li.catalog_submenu_item
                    a href="/mfu/kyocera/" Kyocera
                li.catalog_submenu_item
                    a href="/mfu/hewlett-packard/" Hewlett-Packard
                |
                    {% comment %}
                li.catalog_submenu_item
                    a href="/mfu/xerox/" XEROX
                li.catalog_submenu_item
                    a href="/mfu/brother/" Brother
                li.catalog_submenu_item
                    a href="/mfu/oki/" Oki
                |
                    {% endcomment %}
            |
                {% comment %}
            ul
                li.catalog_submenu_title.icon_sovmestimy-cartridge
                    a href="/sovmestimy-cartridge/" Совместимые тонер-картриджи
                li.catalog_submenu_item
                    a href="/sovmestimy-cartridge/kyocera/" Kyocera
                li.catalog_submenu_item
                    a href="/sovmestimy-cartridge/hewlett-packard/" HP
            ul
                li.catalog_submenu_title.icon_spares
                    a href="/spares/" Запчасти, инструмент и принадлежности
            |
                {% endcomment %}
    li.menu_item_delivery
        a href="/delivery/" 
            span ДОСТАВКА
    li.menu_item_auction
        a href="/auction/"
            span ТОРГИ/АУКЦИОНЫ
    li.menu_item_opt
        a href="/opt/"
            span ОПТОВЫЕ ЦЕНЫ НА КАРТРИДЖИ
    li.menu_item_articles
        a href="/articles/" 
            span СТАТЬИ
    li.menu_item_about
        a href="/about/" 
            span О КОМПАНИИ
    li.menu_item_kontakty
        a href="/kontakty/"
            span КОНТАКТЫ
    li.menu_item_middle
        a href="#"
            span МЕНЮ
        div.menu_item_middle_submenu
            ul
                li.catalog_submenu_item
                    a href="/delivery/" ДОСТАВКА
                li.catalog_submenu_item
                    a href="/auction/" ТОРГИ/АУКЦИОНЫ
                li.catalog_submenu_item
                    a href="/opt/" ОПТОВЫЕ ЦЕНЫ НА КАРТРИДЖИ
                li.catalog_submenu_item
                    a href="/articles/" СТАТЬИ
                li.catalog_submenu_item
                    a href="/about/" О КОМПАНИИ
                li.catalog_submenu_item
                    a href="/kontakty/" КОНТАКТЫ
        