|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/articles.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            li
                span
                    |
                        {{ category.name }}
    div.content_catalog
        h1.page_title
            |
                {{ category.name }}
        div.article
            div.articles__items.cols__items.clearfix
                |
                    {% for article in articles %}
                div.articles__item.col__item3 
                    div.articles__item-image
                        |
                            {% if article.image %}
                        a href="{{article.url}}"
                            img src="{{article.image.url}}"
                        |
                            {% endif %}
                    h2 
                        a href="{{ article.url }}"
                            |
                                {{ article.name }}
                    div.articles__item-desc
                        |
                            {{ article.text|safe|slice:"40" }}{% if article.text|length > 40 %}...{% endif %}
                |
                    {% endfor %}                
|
    {%  endblock %}