|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/article.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            |
                {% if article.category.id != 2 %}
            li
                a href="{{ article.category.url }}"
                    |
                        {{ article.category.name }}
            li.breadcrumbs_arrow >
            |
                {% endif %}
            li
                span
                    |
                        {{ article.name }}
    div.content_catalog
        h1.page_title
            |
                {{ article.name }}
        div.article
            |
                {% if article.image %}
            div.article-image
                img src="{{ article.image.url }}"
            |
                {% endif %}
            div.article-text
                |
                    {{ article.text|safe }}
|
    {%  endblock %}