<!DOCTYPE html>
<html>
<head>
<title>Заказ www.lazuritprint.ru</title>
</head>
<body>
    <h3>С сайта lazuritprint.ru получен новый заказ</h3>
    <p><b>Покупатель:</b> {{ basket.name }} </p>
    <p><b>Идентификатор заказа:</b> {{ basket.id }}</p>
    <p><b>Тел:</b> {{ basket.telephone }}</p>
    <p><b>E-mail:</b> {{ basket.email }}</p>
    <p><b>Тип оплаты:</b> {{ basket.get_paid_name }}</p>
    <p><b>Тип доставки:</b> {{ basket.get_delivery_name }}</p>
      {% if basket.comment %}
    <p><b>Прим.:</b> {{ basket.comment }}</p>
    {% endif %}
    <br>

     <br>
    <table>
     <tr style="background: #DDD;">
       <th>Артикул</th>
       <th>Наименование</th>
       <th style="padding: 0 10px;">Кол-во</th>
       <th>Цена, руб</th>       
       <th>Дата</th>
     </tr>
     {% for item in basket.items.all %}
       <tr>
         <td>{{ item.product.articul }}</td>
         <td>{{ item.product.name }}</td>
         <td style="text-align: center;">{{ item.quantity }}</td>
         <td style="text-align: center;">{{ item.price }} руб.</td>
          <td style="text-align: center;">{{ item.create }}</td>
       </tr>
     {% endfor %}
    </table>
</body>
</html>
