|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/contacts.css?v=1.001"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                span 404
    div.content_catalog
        h1.page_title 404
        div style="margin-top: 200px;font-size: 110px;text-align: center;" 404
|
    {%  endblock %}