{% extends 'index.html' %}{% block styles %}<link href="/media/css/contacts.css?v=1.000" rel="stylesheet" />{% endblock %}{% block scripts %}{% endblock %}{%  block content %}<div class="wr_center" id="content"><div id="breadcrumbs"><ul><li><a href="#">Главная</a></li><li class="breadcrumbs_arrow">></li><li><span>404</span></li></ul></div><div class="content_catalog"><h1 class="page_title">404</h1><div style="margin-top: 200px;font-size: 110px;text-align: center;">404</div></div></div>{%  endblock %}
