|
    {% extends 'index.html' %}
    {% load common_tags %}
|   
    {% block styles %}
link rel="stylesheet" href="/media/css/basket.css?v=1.005"
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/basket.js?v=1.3340"
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                span Корзина
    div.content_catalog
        h1.page_title Корзина
        div.basket
            div.cl
            div class="table table-basket"
                div class="table-header"
                    div class="table-tr clearfix"
                        div class="table-td table-td_image" &nbsp;
                        div class="table-td table-td_name" Название товара
                        div class="table-td table-td_price" Цена
                        div class="table-td table-td_counter" Количество
                        div class="table-td table-td_amount" Стоимость
                        div class="table-td table-td_remove" Удалить
                div class="table-body"
                    |
                        {% for item in cart.items.all %}
                    div class="table-tr clearfix"
                        div class="table-td table-td_image"
                            a href="{{ item.product.url }}"
                                img src="{{ item.product.image_product.url }}" width="130"
                        div class="table-td table-td_name"
                            a href="{{ item.product.url }}"
                                |
                                    {{ item.product.name }}
                        div class="table-td table-td_price"
                            div class="product-basket-price_new"
                                |
                                    {{ item.product.price|price_format }} руб.
                        div class="cl"
                        div class="table-td table-td_counter"
                            div.product_price_counter
                                button type="button" class="decrease" -
                                input.count_buy name="count" value="{{ item.quantity }}"
                                button type="button" class="increase" +
                        div class="table-td table-td_amount"
                            |
                                <span class="basket_item-sum-value">{{ item.sum|price_format }}</span> руб.
                        div class="table-td table-td_remove"
                            button.product_delete data-item-id="{{ item.id }}"
                    |
                        {% endfor %}
                    div class="table-tr basket-result clearfix"
                        div class="table-td table-td_image basket-clean" Очистить корзину

                        div class="table-td table-td_name" &nbsp;
                        div class="table-td table-td_price" &nbsp;
                        div class="table-td table-td_counter" &nbsp;
                        div class="table-td basket-sum"
                            |
                                <span class="basket-title">Итого:</span> <span class="basket-price"><span class="basket-price-value">{{ cart.sum|price_format }}</span> руб.</span>
                        div class="table-td basket-order_button"
                            a.lp_button_red-middle href="/order/" Оформить заказ
|
    {%  endblock %}