|
    {% extends 'index.html' %}
    {% load common_tags %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/fancybox/jquery.fancybox.css"
link rel="stylesheet" href="/media/css/window.css?v=1.008"
link rel="stylesheet" href="/media/css/order.css?v=1.009"
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/fancybox/jquery.fancybox.pack.js"
script type="text/javascript" src="/media/js/order.js?v=1.003"
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                span Оформление заказа
    div.content_catalog
        h1.page_title Оформление заказа
        div.order.clearfix
            div.order_basket
                div.order_block.basket_block
                    h3 Ваш заказ
                    div.basket__items
                        |
                            {% for item in cart.items.all %}
                        div.basket__item
                            h4.basket__item-name
                                a href="{{ item.product.ul }}"
                                    |
                                        {{ item.product.name }}
                            div.basket__item-count
                                |
                                    {{ item.price|price_format }} руб. х {{ item.quantity }} шт
                            div.basket__item-sum
                                |
                                    {{ item.sum|price_format }} руб.
                        |
                            {% endfor %}
                    div.basket__result.basket__result-desktop
                        div.basket__result-sum 
                            |
                                Итого: {{ cart.sum|price_format }} руб.
                        button class="lp_button_red-middle button-order" Подтвердить заказ
            form.order_params.lp_form_field-contacts#form_contact-order
                div.order_block.contacts_block
                    h3 Контактные данные
                    div.contacts_block-form
                        div.lp_form
                            div.lp_form_field
                                label.lp_form-label for="id_name" ФИО
                                |
                                    {{ form.fio }}
                            div.lp_form_field.lp_form_field-contacts.element__items.clearfix
                                div.element__item.e__item2
                                    label.lp_form-label for="id_phone" Телефон
                                    |
                                        {{ form.telephone }}
                                div.element__item.e__item2
                                    label.lp_form-label for="id_email" E-mail
                                    |
                                        {{ form.email }}
                            div.lp_form_field
                                label.lp_form-label for="id_comment" Примечание к заказу (реквизиты компании, адрес доставки, примечания)
                                |
                                    {{ form.comment }}
                div.order_block.methods_pay_block.clearfix
                    div.methods_pay__items
                        h3 Оплата
                        div.methods_pay__item.clearfix
                            div.methods_pay__item-radio
                                |
                                    {{ form.paids.0.tag }}
                            div.methods_pay__item-title
                                label.lp_form-label for="id_paids_0" Оплата по счету
                                span Менеджер свяжется с Вами и уточнит параметры доставки и оплаты
                        div.methods_pay__item.clearfix
                            div.methods_pay__item-radio
                                |
                                    {{ form.paids.1.tag }}
                            div.methods_pay__item-title
                                label.lp_form-label for="id_paids_1" Оплата при доставке
                                span Оплата наличными при доставке заказа для Санкт-Петербурга
                        div.methods_pay__item.clearfix
                            div.methods_pay__item-radio
                                |
                                    {{ form.paids.2.tag }}
                            div.methods_pay__item-title
                                label.lp_form-label for="id_paids_2" 
                                    |
                                        Банковская карта <img src="/media/images/order/icon_method_card.png">
                        div.methods_pay__item.clearfix
                            div.methods_pay__item-radio
                                input id="id_subscribe" name="to_subscribe" type="checkbox" value="vsubscribe"
                            div.methods_pay__item-title
                                label.lp_form-label for="id_subscribe"
                                    span
                                        |
                                            Я хочу получать персональные предложения, скидки и рекламную информацию по email и даю свое согласие на такую рассылку и обработку моего email.

                    div.methods_delivery__items
                        h3 Доставка
                        div.methods_delivery__item.clearfix
                            |
                                {{ form.delivery }}
                div.basket__result.basket__result-mobile
                    div.basket__result-sum 
                        |
                            Итого: {{ cart.sum|price_format }} руб.
                    button class="lp_button_red-middle button-order" Подтвердить заказ
|
    {%  endblock %}