|
    {% extends 'index.html' %}
    {% load common_tags %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/catalog.css?v=1.071"
link rel="stylesheet" href="/media/css/jquery-ui.min.css"
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/jquery-ui.min.js"
script type="text/javascript" src="/media/js/catalog.js?v=1.081"
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            |
                {% if search %}
            li
                span Поиск

            |
                {% else %}

            li
                a href="/shop/" Каталог товаров
            li.breadcrumbs_arrow >
            |
                {% if product.category.parent %}
            li.breadcrumbs_arrow >
            li
                a href="{{ product.category.parent.url }}"
                    |
                        {{ product.category.parent.name }}
            |
                {% endif %}
            li
                span
                    |
                        {% if category.parent %}{{ category.parent.name }} {% endif %}{{ category.name }}
            |
                {% endif %}
    div.content_catalog
        h1.page_title
            |
                {% if search %}Поиск: {{ search }}{% else %}{% if category.parent %}{{ category.parent.name }} {% endif %}{{ category.name }}{% endif %}
        div.catalog.clearfix
            div.catalog_filters
                div.catalog_filter__items
                    |
                        {% with brands=filters_main.brands %}
                        {% if brands %}
                    div.catalog_filter__item.filter_change.catalog_filter__item-brands.open
                        div.catalog_filter__item__title Производитель
                        div.catalog_filter__item__values
                            |
                                {% for index, name in brands.items %}
                            div.catalog_filter__item__filter
                                input id="id_brand_{{ index }}" type="checkbox" value="{{ index }}" name="brand" data-name="{{name}}"
                                label for="id_brand_{{ index }}"
                                    |
                                        {{ name }}
                            |
                                {% endfor %}
                    |
                        {% endif %}
                        {% endwith %}
                    div.catalog_filter__item.filter_change.open
                        div.catalog_filter__item__title Цена, руб
                        div.catalog_filter__item__values.prices-values
                            |
                                <input type="text" class="field_min" value="{{filters_main.min}}">
                                <input type="text" class="field_max" value="{{filters_main.max}}">
                                <div class="prices_scroll"></div>
                    |
                        {% for param in filters_params %}
                    div.catalog_filter__item.catalog_filter__item-params.filter_change
                        
                        div.catalog_filter__item__title
                            |
                                {{ param.name }}
                        div.catalog_filter__item__values
                            |
                                {% for p_name, p_id in param.params.items|list_order_asc %}
                            div.catalog_filter__item__filter
                                input type="checkbox" id="id_param_{{p_id}}" value="{{p_name}}" data-param-id="{{param.id}}"
                                label for="id_param_{{p_id}}"
                                    |
                                        {{ p_name }}
                            |
                                {% endfor %}
                    |
                        {% endfor %}
                    div.catalog_filter__item.button-search.open
                        div.catalog_filter__item__values
                            button.button-filter.lp_button-middle type="button" Подобрать

                div.catalog_banner style="text-align: center;"
                    |
                        {% if category.image_banner %}
                    img src="{{ category.image_banner.url }}"
                    |
                        {% endif %}
                    a href="/media/files/LP_Kyocera_HP_Oki_Xerox_orig.xlsx" class="button lp_button_red" Скачать прайс ОПТ   
            div.catalog_products
                |
                    {% include "catalog/catalog_products.html" %}
|
    {%  endblock %}