|
    {% load common_tags %}
div.catalog_products__panel.clearfix
    div.catalog_products__panel-sort
        select.lp_form-input.select-products_sort name="products_sort" 
            option value="" Исходная сортировка
            option value="price" По цене возрастанию
            option value="-price" По цене по убыванию
    div.catalog_products__panel-right.clearfix
        div.paginator_view_catalog
            a class="view_catalog-cell active" href="#"
                span.cell_circle
                span.cell_circle
                span.cell_circle
                span.cell_circle
                span.cell_circle
                span.cell_circle
                span.cell_circle
                span.cell_circle
                span.cell_circle
            a class="view_catalog-rows" href="#"
                span.cell_circle
                span.cell_row
                span.cell_circle
                span.cell_row
                span.cell_circle
                span.cell_row 
        div.paginator_pages
            input.paginator_pages-page.lp_form-input type="text" value="{{paginator.select}}" 
            span
                |
                    из {{ paginator.count }}
        div.paginator_arrows
            a class="paginator-prev" href="?page={{ paginator.prev }}"
            a class="paginator-next" href="?page={{ paginator.next }}"
div.catalog_products__items.clearfix
    |
        {% if catalog_view == "cell" %}
        {% for product in products %}
    div.product
        div.title
            a href="{{ product.url }}"
                |
                    {{ product.name }}
        div.params  
        div.image
            a href="{{ product.url }}"
                img src="{{ product.image }}" alt="{{ product.name }}"
        div.buy
            |
                {% if product.price == 1 %}
            div.product-not_available Нет в наличии
            |
                {% else %}
            div.price
                |
                    {{ product.price|price_format }} руб.
            button.button_buy.basket_add data-product-id="{{product.id}}"
            |
                {% endif %}
    |
        {% endfor %}

    |
        {% else %}
        {% for product in products %}
    div.product_inline.clearfix
        div.product-image 
            a href="{{ product.url }}"
                img src="{{ product.image }}" alt="{{ product.name }}"
        div.product-char_info
            div.title
                a href="{{ product.url }}"
                    |
                        {{ product.name }}
            div.params.product_characteristic
                table
                    |
                        {% for name, param in product.params.items|limit_l:"3" %}
                    tr
                        td
                            |
                                {{ param.0 }}
                        td
                            |
                                {{ param.1 }} {{ param.2 }}
                    |
                        {% endfor %}
        div.product-buy_info 
            div.buy
                |
                    {% if product.price == 1 %}
                div.product-not_available Нет в наличии
                |
                    {% else %}
                div.price
                    |
                        {{ product.price|price_format }} руб.                         
                div.product_inline-button
                    button.lp_button2.basket_add data-product-id="{{product.id}}" В корзину
                |
                    {% endif %}
    |
        {% endfor %}
        {% endif %}
div.catalog_products__panel.clearfix
    div.catalog_products__panel-right.clearfix style="float: left;"
        div.paginator_pages
            input.paginator_pages-page.lp_form-input type="text" value="{{paginator.select}}" 
            span
                |
                    из {{ paginator.count }}
        div.paginator_arrows
            a class="paginator-prev" href="?page={{ paginator.prev }}"
            a class="paginator-next" href="?page={{ paginator.next }}"
