|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/categories.css?v=1.001"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                span Каталог товаров
    div.content_catalog
        h1.page_title Каталог товаров
        div.categories
            div.cols__items.category_items.clearfix
                |
                    {% for category in categories %}
                div.col__item4.category_item
                    div.category_item-icon
                        a href="{{ category.url }}"
                            |
                                {% if category.image %}
                            img src="{{ category.image.url }}" alt="{{ category.name }}"
                            |
                                {% endif %}
                    div.category_item-title 
                        a href="{{ category.url }}"
                            |
                                {{ category.name }}
                    |
                        {% with subcategories=category.get_subcategories %}
                        {% if subcategories %}
                    ul.category_item-brands
                        |
                            {% for subcategory in subcategories %}
                        li
                            a href="{{ subcategory.url }}"
                                |
                                    {{ subcategory.name }}
                        |
                            {% endfor %}
                    |
                        {% endif %}                    
                        {% endwith %}
                |
                    {% endfor %}
|
    {%  endblock %}