|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/categories.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                span Каталог товаров
    div.content_catalog
        h1.page_title Каталог товаров
        div.categories
            div.cols__items.category_items.clearfix
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_original_kt.png" 
                    div.category_item-title 
                        a href="#" Оригинальные тонер-картриджи
                    ul.category_item-brands
                        li
                            a href="#" Kyocera
                        li
                            a href="#" HP
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_mfu.png" 
                    div.category_item-title 
                        a href="#" МФУ
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_sovmest_kt.png" 
                    div.category_item-title 
                        a href="#" Совместимые тонер-картриджи
                    ul.category_item-brands
                        li
                            a href="#" Kyocera
                        li
                            a href="#" HP
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_spares.png" 
                    div.category_item-title 
                        a href="#" Запчасти, инструмент и принадлежности 
|
    {%  endblock %}