{% extends 'index.html' %}{% block styles %}<link href="/media/css/categories.css?v=1.001" rel="stylesheet" />{% endblock %}{% block scripts %}{% endblock %}{%  block content %}<div class="wr_center" id="content"><div id="breadcrumbs"><ul><li><a href="#">Главная</a></li><li class="breadcrumbs_arrow">></li><li><span>Каталог товаров</span></li></ul></div><div class="content_catalog"><h1 class="page_title">Каталог товаров</h1><div class="categories"><div class="cols__items category_items clearfix">{% for category in categories %}<div class="col__item4 category_item"><div class="category_item-icon"><a href="{{ category.url }}">{% if category.image %}<img alt="{{ category.name }}" src="{{ category.image.url }}" />{% endif %}</a></div><div class="category_item-title"><a href="{{ category.url }}">{{ category.name }}</a></div>{% with subcategories=category.get_subcategories %}
{% if subcategories %}<ul class="category_item-brands">{% for subcategory in subcategories %}<li><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>{% endfor %}</ul>{% endif %}                    
{% endwith %}</div>{% endfor %}</div></div></div></div>{%  endblock %}
