|
    {% extends 'index.html' %}
    {% load common_tags %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/product.css?v=1.020"
link rel="stylesheet" href="/media/css/catalog.css?v=1.015"
|
    {% endblock %}
|
    {% block scripts %}
script type="text/javascript" src="/media/js/product.js?v=1.009"
script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" 
script src="/media/js/map.js?v=1.000" type="text/javascript"
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                a href="/shop/" Каталог товаров
            |
                {% if product.category.parent %}
            li.breadcrumbs_arrow >
            li
                a href="{{ product.category.parent.url }}"
                    |
                        {{ product.category.parent.name }}
            |
                {% endif %}
            |
                {% if product.category %}
            li.breadcrumbs_arrow >
            li
                a href="{{ product.category.url }}"
                    |
                        {{ product.category.name }}
            |
                {% endif %}
            li.breadcrumbs_arrow >
            li
                span
                    |
                        {{ product.name }}
    div.content_product
        h1.page_title
            |
                {{ product.name }}
        div.product_info.clearfix
            div.product_image
                |
                    {% if product.image_product %}
                img src="{{ product.image_product.url }}" alt="{{ product.name }}"
                |
                    {% endif %}
            div.product_characteristic
                |
                    {% with characteristics=product.get_characteristics_short %}
                    {% if characteristics %}
                table
                    |
                        {% for char in characteristics %}
                    tr
                        td.char_title
                            b
                                |
                                    {{ char.property_type.name }}
                        td.char_value
                            |
                                 {{ char.value }} {{ char.property_type.unit }}
                    |
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    |
                        {% if compatibility_text %}
                    tr
                        td.char_title
                            b Совместимость
                        td.char_value
                            |
                                 {{ compatibility_text }}
                    |
                        {% endif %}
                |
                    {% if product.brand %}
                div.product_brand
                    |
                        {% if product.brand.image %}
                    img src="{{ product.brand.image.url }}"
                    |
                        {% endif %}
                    div.product_brand__title Производитель:
                    div.product_brand__name
                        b
                            |
                                {{ product.brand.name }}
                |
                    {% endif %}
            div.product_price
                |
                    {% if product.price == 1 %}
                div.product-not_available Нет в наличии
                |
                    {% else %}
                div.product_price_old
                    |
                        {% if product.price_old %}
                        {{ product.price_old|price_format }} руб.
                        {% endif %}
                div.product_price_counter
                    button type="button" class="decrease" -
                    input.count_buy name="count" value="1"
                    button type="button" class="increase" +
                div.product_price_new 
                    |
                        {{ product.price|price_format }} <span class="product_price_new_currency">руб.</span>
                button.lp_button2.basket_add data-product-id="{{ product.id }}" В корзину
                |
                    {% endif %}
                div style="margin-top: 30px; text-align: center;"
                    a href="/media/files/LP_Kyocera_HP_Oki_Xerox_orig.xlsx" class="button lp_button_red" Скачать прайс ОПТ 
        div.lp_tabs
            div.lp_tabs_title__items
                div.active.lp_tabs_title__item.icon_description 
                    |
                        Описание
                    hr
                div.lp_tabs_title__item.icon_characteristic
                    |
                        Характеристики
                    hr
                div.lp_tabs_title__item.icon_wherebuy 
                    |
                        Где купить?
                    hr
                |
                    {% if compatibility_text %}
                div.lp_tabs_title__item.icon_compatibility
                    |
                        Совместимость
                    hr
                |
                    {% endif %}
            div.lp_tabs__content__items
                div.active.lp_tabs__content__item
                    |
                        {{ product.description }}
                div.lp_tabs__content__item.clearfix
                    div.product_characteristic
                        |
                            {% with characteristics=product.get_characteristics %}
                            {% if characteristics %}
                        table
                            |
                                {% for char in characteristics %}
                            tr
                                td.char_title
                                    b
                                        |
                                            {{ char.property_type.name }}
                                td.char_value
                                    |
                                         {{ char.value }}
                            |
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                div.lp_tabs__content__item
                    div#contacts-map.contacts-map
                |
                    {% if compatibility_text %}
                div.lp_tabs__content__item.compatibility__content
                    div.products__items.clearfix
                        |
                            {% for similar in product.get_compatibility %}
                        div.product
                            div.title
                                a href="{{ similar.url }}"
                                    |
                                        {{ similar.name }}
                            div.params  
                            div.image
                                a href="{{ similar.url }}"
                                    img src="{{ similar.image }}" alt="{{ similar.name }}"
                            div.buy
                                |
                                    {% if similar.price == 1 %}
                                div.product-not_available Нет в наличии
                                |
                                    {% else %}
                                div.price
                                    |
                                        {{ similar.price|price_format }} руб.
                                button.button_buy.basket_add data-product-id="{{similar.id}}"
                                |
                                    {% endif %}  
                        |
                            {% endfor %}
                |
                    {% endif %}
        |
            {% with similars=product.get_similar %}
            {% if similars %}
        div.products_recommend
            h3.page_title Рекомендуемые товары
            div.products__items.clearfix
                |
                    {% for similar in similars %}
                div.product
                    div.title
                        a href="{{ similar.url }}"
                            |
                                {{ similar.name }}
                    div.params  
                    div.image
                        a href="{{ similar.url }}"
                            img src="{{ similar.image }}" alt="{{ similar.name }}"
                    div.buy
                        |
                            {% if similar.price == 1 %}
                        div.product-not_available Нет в наличии
                        |
                            {% else %}
                        div.price
                            |
                                {{ similar.price|price_format }} руб.
                        button.button_buy.basket_add data-product-id="{{similar.id}}"
                        |
                            {% endif %}
                |
                    {% endfor %}
        |
            {% endif %}
            {% endwith %}
|
    {%  endblock %}